# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.cache/
# Build directory
.DS_Store
yarn-error.log

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db


#check-it-out
.project
.classpath
.settings/
logs/
target/
dist/
build/
nbproject/
nbbuild.xml
target/
.classpath
.settings/
.mvn/
.mvn/wrapper
bin/
.springBeans
.DS_Store
.idea/
out/
bin/
intellij/
build/
*.log
*.log.*
*.iml
*.ipr
*.iws
.gradle/
mvnw
mvnw.cmd
.project
.factorypath
node_modules/
*.swp
.vscode
nohup.out
/.metadata/
/.recommenders/

